/* * {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
 
body {
    display: flex;
    background: #ef62da;
    min-height: 100vh;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
} */

/* ////////////////////////////////////////////////// */
 #calendar{
    width: 80%;
    margin: auto;
 }


/* //////////////////////////////////////////////////////////////// */
/* #individual{
display: grid;
grid-template-rows: 1fr 1fr;
gap: 10px;
border: 1px solid black;
padding: 10px;
margin: 5px;
/* text-align: center; */
/* width: 80%;
} */

/* #task, #task>div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#start_end{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr; */
/*} */


